.menuSection {
    width: 300px;
}

button {
    display: block;
    margin-top: 5px;
}

.showUp {
    -webkit-animation-name: showUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: showUp;
    animation-duration: 0.5s;
}

@keyframes showUp {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.disappear {
    -webkit-animation-name: showUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: showUp;
    animation-duration: 0.5s;
    -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-direction: reverse;
}

.fadeIn {
    -webkit-animation-name: showUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: showUp;
    animation-duration: 2s;
}

.fadeOut {
    -webkit-animation-name: showUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: showUp;
    animation-duration: 2s;
    -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-direction: reverse;
}

.flyIn {
    /*-webkit-animation-name: showUp; !* Safari 4.0 - 8.0 *!*/
    /*-webkit-animation-duration: 2s; !* Safari 4.0 - 8.0 *!*/
    /*animation-name: showUp;*/
    /*animation-duration: 2s;*/
}

.flyOut {
    -webkit-animation-name: flyOut; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: flyOut;
    animation-duration: 2s;
}

@keyframes flyOut {
    0%   {top:0px;}
    100% {top:300px;}
}
