.menuSection {
    width: 300px;
}

.executeSection {}

button {
    display: block;
    margin-top: 5px;
}

.ani2 {
    -webkit-animation-name: brightUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: brightUp;
    animation-duration: 4s;
}

@keyframes brightUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}